doctype html
html
  head
    title Signup
  body
    h1 Signup
    form(action='/users/signup', method='post')
      label(for='firstName') First Name:
      input(type='text', name='firstName', required)
      br
      label(for='lastName') Last Name:
      input(type='text', name='lastName', required)
      br
      label(for='email') Email:
      input(type='email', name='email', required)
      br
      label(for='mobileNo') Mobile Number:
      input(type='text', name='mobileNo', required)
      br
      label(for='password') Password:
      input(type='password', name='password', required)
      br
      button(type='submit') Signup

